{% extends 'base.html.twig' %}

{% block title %}Employee Age Chart{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{ 'employees.age_chart.heading'|trans }}</h1>
    </div>
  </div>
  <div id="chart">

  </div>

  <script>
      // this script would ideally be minified into a js file by webpack/encore
      function chartOptions(chartData) {
          return {
              series: [{name: '', data: chartData.values}],
              chart: {type: 'bar', height: 350},
              xaxis: {categories: chartData.keys}
          };
      }
  </script>

  <script>
      // this script would not be minified.
      new ApexCharts(document.querySelector("#chart"), chartOptions({{ chartData|json_encode|raw }})).render();
  </script>
{% endblock %}
