{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>
        {% if employee is not defined %}
          {{ 'employees.create_heading'|trans }}
        {% else %}
          {{ employee.firstName }} {{ employee.lastName }}
        {% endif %}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form_start(form) }}
      {{ form_row(form.firstName) }}
      {{ form_row(form.lastName) }}
      {{ form_row(form.gender) }}
      {{ form_row(form.birthday) }}
      <button type="submit" class="btn btn-primary">
        💾 {{ 'employees.form.save'|trans }}
      </button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
