{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{ 'employees.heading'|trans }}</h1>
    </div>
    <div class="col text-end">
      <a class="btn btn-success" href="{{ path('employees.create') }}">
        + {{ 'employees.create_new'|trans }}
      </a>
    </div>
  </div>

  {% if app.request.query.has('saved') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ 'employees.form.saved_successfully'|trans }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  {% if app.request.query.has('deleted') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ 'employees.form.deleted_successfully'|trans }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  {% if employees is not empty %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'employees.list.table.name'|trans }}</th>
        <th scope="col">{{ 'employees.list.table.gender'|trans }}</th>
        <th scope="col">{{ 'employees.list.table.age'|trans }}</th>
        <th scope="col"></th>
      </tr>
      </thead>

      <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.firstName }} {{ employee.lastName }}</td>
          <td>{{ ('employees.gender.'~employee.gender)|trans }}</td>
          <td>{{ employee.age }}</td>
          <td class="text-end py-1">
            <a href="{{ path('employees.edit', {'employeeId': employee.id}) }}" class="btn btn-secondary btn-sm">
              Edit
            </a>
            <a href="{{ path('employees.delete', {'employeeId': employee.id, 'token': csrf_token('employeeDelete')}) }}"
               class="btn btn-danger btn-sm">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <i>{{ 'employees.list.empty'|trans }}</i>
  {% endif %}
{% endblock %}
